@import url("./reset.css");
@import url("./typing.css");

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}
.active {
  opacity: 1 !important;
  transform: translateX(0px) !important;
  transform: translateY(0px) !important;
}
.active:after {
  right: 20% !important;
}
.activeNav {
  color: rgb(165, 42, 42) !important;
}
.container {
  font-family: Microsoft JhengHei;
  background-image: url(../image/main.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #222;
}
/* ============ Header ============ */
.container > .header {
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 10;
}
/* --- 菜單 --- */
.container > .header > .menu {
  position: absolute;
  top: 0px;
  left: 16px;
}
.container > .header > .menu > a {
  color: #fff;
}
.container > .header > .menu > a > i {
  padding: 22px 8px;
  box-sizing: border-box;
}
.container > .header > .menu > a > .fa-chevron-up {
  display: none;
}
.container > .header > .menu > a > .fa-chevron-down {
  transform: translateY(0px);
  transition: 1s;
}
.container > .header > .menu > a > .fa-chevron-down:hover {
  transform: translateY(8px);
}
.container > .header > .menu > a > .fa-chevron-up {
  transform: translateY(0px);
  transition: 1s;
}
.container > .header > .menu > a > .fa-chevron-up:hover {
  transform: translateY(-8px);
}
/* --- logo --- */
.container > .header > .logo {
  height: 60px;
  line-height: 60px;
  align-self: center;
  margin-left: 20px;
}
.container > .header > .logo a {
  color: #fff;
}
/* --- 導覽列 --- */
.container > .header > .nav {
  font-size: 0;
  font-weight: 900;
  display: flex;
  visibility: hidden;
  overflow: hidden;
  max-height: 0;
  transition: 1s;
  flex-direction: column;
}
.container > .header > .nav > a {
  font-size: 15px;
  padding: 20px 24px;
  color: gray;
  transition: 0.4s;
}
.container > .header > .nav > a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}
/* ============ Home ============ */
.container > .home {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
/* --- 主標題 --- */
.container > .home > h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
}
/* --- 次標題 --- */
.container > .home > h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
}
/* --- 滑動按鈕 --- */
.container > .home > .slideBtn {
  position: absolute;
  bottom: 8px;
  color: #fff;
  border: 1px solid white;
  padding: 20px 8px;
  border-radius: 16px;
}
.container > .home > .slideBtn:hover {
  color: rgb(165, 42, 42) ;
  border: 1px solid rgb(165, 42, 42) ;
}
.container > .home > .slideBtn i {
  transform: translateY(-12px);
  animation: slide 3s infinite;
  opacity: 0;
}
/* ============ 經歷 ============ */
.container > .experience {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 0 0 40px 0;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* --- 標題 --- */
.container > .experience > h1 {
  align-self: center;
  margin: 16px 0 24px;
  font-size: 40px;
  line-height: 60px;
  font-weight: 900;
  position: relative;
  color: #fff;
}
.container > .experience > h1:after {
  content: "";
  position: absolute;
  height: 4px;
  left: 20%;
  right: 100%;
  bottom: -8px;
  background-color: rgb(165, 42, 42) ;
  transition: 1s;
}
.container > .experience > .section {
  opacity: 0;
  transition: 1s;
  background: #fff;
  border-radius: 0 15px 15px 0;
}
.container > .experience > .section > .item {
  position: relative;
  padding: 16px;
}
.container > .experience > .section > .item:hover {
  background-color: rgba(182, 22, 22, 0.2);
}
/* --- 內容標題 --- */
.container > .experience > .section > .item > h2 {
  font-size: 24px;
  line-height: 40px;
  font-weight: 600;
  color: #333;
}
/* --- 內容次標題 --- */
.container > .experience > .section > .item > h3 {
  font-size: 16px;
  line-height: 30px;
  color: #333;
}
/* --- 內容次標題時間 --- */
.container > .experience > .section > .item > h3 > .time {
  font-size: 14px;
  font-style: italic;
  margin: 0 0 0 8px;
}
/* --- 內容 --- */
.container > .experience > .section > .item > .detail > li {
  line-height: 24px;
  margin: 0 0 0 16px;
  font-size: 14px;
  color: #333;
}
.container > .experience > .section > .item > .detail > li:before {
  content: "-";
  margin: 0 8px 0 0;
}
/* ============ 關於我 ============ */
.container > .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0 auto;
  background-image: linear-gradient(
    to top,
    #dad4ec 0%,
    #dad4ec 1%,
    #f3e7e9 100%
  );
}
/* --- 標題 --- */
.container > .about > h1 {
  margin: 16px 0 24px;
  font-size: 40px;
  line-height: 60px;
  font-weight: 900;
  position: relative;
}
.container > .about > h1:after {
  content: "";
  position: absolute;
  height: 4px;
  left: 20%;
  right: 100%;
  bottom: -8px;
  background-color: rgb(165, 42, 42) ;
  transition: 1s;
}
.container > .about > .section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
/* --- 左側 --- */
.container > .about > .section > .pic {
  min-width: 320px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(-100vw);
  transition: 1s;
}
/* --- 個人照片 --- */
.container > .about > .section > .pic > .me {
  width: 240px;
  height: 240px;
  vertical-align: top;
  object-fit: cover;
  border-radius: 50%;
}
/* --- 名字 --- */
.container > .about > .section > .pic > .name {
  font-size: 24px;
  line-height: 40px;
  margin: 8px 0 0;
  color: rgb(165, 42, 42) ;
  font-weight: 600;
}
/* --- 小圖示 --- */
.container > .about > .section > .pic > .icon {
  margin: 16px 0;
}
.container > .about > .section > .pic > .icon > a:hover {
  animation: spin 1s infinite alternate;
  background-color: rgb(165, 42, 42) ;
  transition: 0.5s;
}
.container > .about > .section > .pic > .icon > a {
  width: 40px;
  height: 40px;
  margin: 0 8px;
  box-sizing: border-box;
  text-align: center;
  line-height: 40px;
  background-color: black;
  color: #fff;
  border-radius: 50%;
}
/* --- Email --- */
.container > .about > .section > .pic > .email {
  margin: 0 0 16px;
}
.container > .about > .section > .pic > .email > i {
  margin: 0 8px 0;
}
/* --- 右側 --- */
.container > .about > .section > .txt {
  line-height: 24px;
  margin: 0 20px;
  transform: translateX(100vw);
  transition: 1s;
  max-width: 600px;
}
.container > .about > .section > .txt > p {
  text-indent: 2em;
  margin: 0 0 16px;
}
.container > .about > .section > .txt > p > strong {
  color: rgb(165, 42, 42) ;
  font-weight: 600;
}
/* ============ 前端 ============ */
.container > .skills {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 0 0 40px 0;
}
/* --- 標題 --- */
.container > .skills > h1 {
  align-self: center;
  margin: 16px 0 24px;
  font-size: 40px;
  line-height: 60px;
  font-weight: 900;
  position: relative;
  color: #fff;
}
.container > .skills > h1:after {
  content: "";
  position: absolute;
  height: 4px;
  left: 20%;
  right: 100%;
  bottom: -8px;
  background-color: rgb(165, 42, 42) ;
  transition: 1s;
}
.container > .skills > .section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1120px;
  margin: 0 auto;
}
.container > .skills > .section > .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  margin: 15px;
  overflow: hidden;
}
/* --- 圖片 --- */
.container > .skills > .section > .item > .pic > img {
  width: 160px;
  height: 160px;
  vertical-align: top;
}
/* --- 文字 --- */
.container > .skills > .section > .item > .txt {
  /* opacity: 0; */
  transition: 1s;
  transform: translateY(-100vh);
}
.container > .skills > .section > .item > .txt > h2 {
  position: relative;
  font-size: 17px;
  line-height: 60px;
  text-align: center;
  font-weight: 700;
  color: #fff;
}
.container > .skills > .section > .item > .txt > h2:after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 4px;
  background-color: #81c79e;
  height: 3px;
  transition: 1s;
}
.container > .skills > .section > .item:hover > .txt > h2:after {
  left: 10%;
  right: 10%;
}
.container > .skills > .section > .item > .txt > ul {
  font-size: 16px;
  line-height: 30px;
  font-weight: 600;
  color:#fff;
}
/* ============ 後湍 ============ */
.container > .works {
  margin: 0 auto;
  width: 100%;
  min-height: 50vh;
  background-image: linear-gradient(70deg, #464d52 0%, #383e47 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 0 0 30px 0;
}
/* --- 標題 --- */
.container > .works > h1 {
  align-self: center;
  margin: 16px 0 24px;
  font-size: 40px;
  line-height: 60px;
  font-weight: 900;
  position: relative;
  color:#fff;
}
.container > .works > h1:after {
  content: "";
  position: absolute;
  height: 4px;
  left: 20%;
  right: 100%;
  bottom: -8px;
  background-color: rgb(165, 42, 42) ;
  transition: 1s;
}
.container > .works > .section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.container > .works > .section > .item {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px 0;
  overflow: hidden;
}
/* --- 圖片 --- */
.container > .works > .section > .item > .pic {
  position: relative;
  width: 320px;
  transform: translateX(-100vw);
  transition: 1s;
}
.container > .works > .section > .item > .pic > img {
  width: 320px;
  height: 180px;
  object-fit: contain;
  vertical-align: top;
  border-radius: 15px;
}
.container > .works > .section > .item .btn{
  display: flex;
  margin-top: 10px;
}
.container > .works > .section > .item .btn >.demo{
  background: #f33;
  letter-spacing: 0;
  color:#fff;
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}
.container > .works > .section > .item .btn >.demo:hover{
  opacity: 0.7;
}
.container > .works > .section > .item .btn >.code{
  letter-spacing: 0;
  background: #aaa;
  color:#fff;
  padding: 5px 10px;
  cursor: pointer;
}
.container > .works > .section > .item .btn >.code:hover{
  opacity: 0.7;
}
/* --- 遮罩層 --- */
.container > .works > .section > .item > .pic > .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.container > .works > .section > .item > .pic > .mask > a {
  color: #00f;
  margin: 0 auto;
  padding: 8px 24px;
  border: 1px solid #00f;
  background-color: rgba(255, 255, 255, 0.4);
  font-weight: 700;
  transition: 0.4s;
}
.container > .works > .section > .item > .pic > .mask > a:first-child {
  color: rgb(165, 42, 42) ;
  border: 1px solid rgb(165, 42, 42) ;
}
.container > .works > .section > .item > .pic > .mask > a:hover {
  background-color: #00f;
  color: #fff;
}
.container > .works > .section > .item > .pic > .mask > a:first-child:hover {
  background-color: rgb(165, 42, 42) ;
  color: #fff;
}
/* --- Icon --- */
.container > .works > .section > .item > .pic > .icon {
  display: flex;
}
.container > .works > .section > .item > .pic > .icon > a {
  width: 160px;
  text-align: center;
  padding: 16px 0;
  background-color: #00f;
  color: #fff;
}
.container > .works > .section > .item > .pic > .icon > a:first-child {
  background-color: rgb(165, 42, 42) ;
}
/* --- 文字 --- */
.container > .works > .section > .item > .txt {
  margin: 0 24px;
  transform: translateX(100vw);
  transition: 1s;
  width: 280px;
}
.container > .works > .section > .item > .txt > h2 {
  color:#fff;
  font-size: 32px;
  line-height: 64px;
  font-weight: 600;
}
.container > .works > .section > .item > .txt > ul > li {
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}
/* ============ 頁尾 ============ */
.container > .footer {
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

@media screen and (min-width: 960px) {
  /* ============ Header ============ */
  .container > .header {
    height: 60px;
    padding: 0 16px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  /* --- 菜單 --- */
  .container > .header > .menu {
    display: none;
  }
  /* --- 導覽列 --- */
  .container > .header > .nav {
    flex-direction: row;
    visibility: visible !important;
    max-height: 60px !important;
  }
  /* ============ 學經歷 ============ */
  /* --- 標題 --- */
  .container > .experience > h1 {
    margin: 48px 0 40px;
  }
  /* --- 進度條 --- */
  .container > .experience > .section > .item > h2:before {
    content: "";
    position: absolute;
    top: 0px; /* line-height- width/2 */
    left: -38px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: darkred;
  }
  .container > .experience > .section > .item > h2:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    left: -33px;
    background-color: darkred;
    transform: translateY(12px);
  }
  /* ============ 關於我 ============ */
  /* --- 標題 --- */
  .container > .about > h1 {
    margin: 48px 0 40px;
  }
  /* --- Email --- */
  .container > .about > .section > .pic > .email {
    margin: 0;
  }
  .container > .about > .section {
    flex-direction: row;
    padding: 80px 0 0;
  }
  /* ============ 技能 ============ */
  /* --- 標題 --- */
  .container > .skills > h1 {
    margin: 48px 0 40px;
  }
  /* ============ 作品集 ============ */
  /* --- 標題 --- */
  .container > .works > h1 {
    margin: 48px 0 40px;
  }
  .container > .works > .section {
    flex-direction: row;
    justify-content: center;
    max-width: 1300px;
  }
  .container > .works > .section > .item {
    flex-direction: row;
  }
  .container > .works > .section > .item:hover > .pic > .mask {
    display: flex;
  }
  .container > .works > .section > .item > .pic > .icon {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .container > .works > .section {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 960px) {
  .container {
    font-family: Microsoft JhengHei;
    background-image: url(../image/main.jpg);
    background-size: contain  ;
    background-repeat: no-repeat;
    background-position: center;
  }
  .container > .experience > .section {
    opacity: 0;
    transition: 1s;
    background: #fff;
    border-radius: 0 15px 15px 0;
    margin: 15px;
  }
}
@keyframes slide {
  0% {
    transform: translateY(-12px);
    opacity: 0;
  }
  50% {
    transform: translateY(12px);
    opacity: 1;
  }
}
@keyframes spin {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
}
